# Node modules
node_modules/

# Env files
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Vite
.vite/

# Coverage
coverage/

# Optional
.env.local
.env.development.local
.env.test.local
.env.production.local